* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #364156;
    line-height: 1.6;
}
/* Styling the navbar */
.navbar  {
    background-color: #011638;
    color: rgb(255, 255, 255);
    padding: 10px 0;;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li {
    display: inline-block;
    position: relative;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; /* change the font size of the links */
    padding: 10px 15px;
    display: block;
}
.nav-links li a:hover {
    color: #dff8eb;
}
/* Styling the logo */
.logo {
    text-decoration: none;
    font-size: large;
    color: white;
}
.logo:hover {
    color: #000000;
}


.header {
    background-color: #cdcdcd;
    padding: 20px 0;
    text-align: center;
}
/* Styling the footer */
footer {
    background-color: #011638;
    color: white;
    text-align: center;
    padding: 10px 0;
}
/* Styling the about page */
.About {
    background-color: #cdcdcd;
    padding: 20px 0;
    text-align: center;
}
#skills {
    padding: 20px 0;
    font-size: 1.5rem;
    color: #011638;
    margin-left: 40px;
}
#skills li {
    margin-bottom: 5px;
    color: black;
}
#Projects {
    padding: 20px ;
    font-size: 1.5rem;
    color: #011638;
    margin-left: 10px;
}
#Projects p {
    color: black;
    
}
/* Styling the form */
form {
    border: 2px solid #0b2638; 
    padding: 20px; 
    border-radius: 8px;
    width: 300px; 
    margin: 0 auto; 
    margin-top: 50px;
}
button:hover {
    background-color:rgb(53, 240, 53);
}
#check-out {
    text-align: center;
}
